/* MIXINS */
@mixin opacity($opacity: .5) {
  $freaking-ie: $opacity * 50;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$freaking-ie})";
  filter: alpha(opacity=$freaking-ie);
  -webkit-opacity: $opacity;
  -khtml-opacity: $opacity;
  -moz-opacity: $opacity;
  opacity: $opacity;
}

@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
    src: url('#{$file-path}.ttf') format('truetype');
  }
}