@use 'helpers' as *;

:root {
  --font-family-base: 'SenRegular', sans-serif;

  --color-primary: #000;
  --color-secondary: #fff;

  --container-width: #{rem(1920)};
  --container-padding-x: #{rem(20)};

  --transition-duration: 0.2s;

  @include laptop {
    --container-width: #{rem(1200)};
    --container-padding-x: #{rem(20)};
  }
}