@use '../helpers' as *;

.about-page {
    &--wrapper {
        padding: rem(48) rem(20) rem(15) rem(20);
        margin-inline: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include desktop-above {
            --container-width: #{rem(2088)};
            --container-padding-x: #{rem(20)};
        } 

        @include desktop {
            --container-width: #{rem(1920)};
            --container-padding-x: #{rem(20)};
            overflow-x: hidden;
        }
    }

    // Common page styles
    &__paragraph {
        font-size: rem(80);
        line-height: rem(88);
        font-family: 'SenBold', sans-serif;
        font-weight: 700;
        color: var(--color-primary);
        letter-spacing: rem(0);

        span {
            display: inline;
            color: #858585;
        }

        @include desktop {
            font-size: rem(80);
        }
    }

    &__paragraph-small {
        font-size: rem(20);
        line-height: rem(28);
        font-family: 'SenRegular', sans-serif;
        font-weight: 400;
    }

    &__inner {
        width: 100%;
        position: relative;
    }

    &__section {
        min-height: 100vh; //calc(100vh - rem(150) - rem(95)); // Учитываем высоту хедера + отступы
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        position: relative;

        &-header {
            margin-bottom: rem(32);
        }

        &-title {
            font-size: rem(48);
            line-height: rem(46);
            font-family: 'SenBold', sans-serif;
            font-weight: 700;
            text-transform: uppercase;
        }

        &-divider {
            margin-top: rem(16);
            width: 100%;
            height: rem(2);
            background-image: url('../images/divider.png');
            background-repeat: repeat-x;
        }
    }


    // Quote styles
    &__quote {
        align-items: center;
        justify-content: center;

        &-content {
            display: grid;
            grid-template-columns: max-content auto;
            gap: rem(80);
            align-items: center;
            width: 100%;
            margin: 0 auto;

            @include desktop {
                gap: 0;
            }
        }

        &-text {
            max-width: rem(1110);
        }

        &-image {
            flex-shrink: 0;
            position: relative;
        }

        &-photo {
            max-width: rem(1020);
            object-fit: cover;
        }
    }

    &__info-one,
    &__info-two {
        align-items: center;
        justify-content: center;

        @include desktop {
            .about-page__paragraph {
                font-size: rem(64);
                line-height: rem(70.4);
            }
        }
    }

    //Education
    &__education {
        position: relative;

        .header--education {
            margin-left: rem(422);

            @include desktop {
                margin-left: rem(495);
            }
        }

        &-text {
            max-width: rem(824);
            margin-left: rem(422);

            @include desktop {
                margin-left: rem(495);
            }
        }

        &-gallery {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 0;
            margin-left: rem(275);
            margin-top: rem(100);

            @include desktop {
                margin-left: rem(420);
            }

            &-item {
                position: relative;

                .polaroid {
                    img {
                        max-width: rem(560);
                        @include desktop {
                            max-width: rem(500);
                        }
                    }
                }

                &:nth-child(1) {
                    transform: rotate(-6deg);
                    z-index: 4;
                }
                &:nth-child(2) {
                    transform: rotate(8deg);
                    top: rem(130);
                    left: rem(150);
                    z-index: 3;
                    @include desktop {
                        left: rem(200);
                        top: rem(70);
                    }
                }

                &:nth-child(3) {
                    transform: rotate(-13deg);
                    left: rem(100);
                    top: rem(-70);
                    z-index: 2;
                    @include desktop {
                        left: rem(210);
                   
                    }
                }
                &:nth-child(4) {
                    transform: rotate(13deg);
                    left: rem(180);
                    top: rem(80);
                    z-index: 1;
                    @include desktop {
                        left: rem(400);
                        top: rem(30);
                    }
                }
            }
        }
    }

    &__education-image {
        position: absolute;
        top: 0;
        left: rem(-230);

        @include desktop {
            height: 100vh;
            overflow-y: hidden;
            left: rem(-100);
            &-photo {
                object-fit: cover;
            }
        }
    }

    //Films
    &__films {
        position: relative;

        &-content {}

        .films-list {
            display: flex;
            flex-direction: column;
            gap: rem(100);

            &__item {
                display: grid;
                grid-template-columns: max-content auto;
                gap: rem(95);

                &-title {
                    font-size: rem(36);
                    line-height: rem(43);
                    font-family: 'SenBold', sans-serif;
                    text-transform: uppercase;
                    font-weight: 700;
                    margin-bottom: rem(16);
                }

                &-role {
                    font-size: rem(20);
                    line-height: rem(24);
                    letter-spacing: rem(5);
                    text-transform: uppercase;
                    font-family: 'SenRegular', sans-serif;
                    font-weight: 400;
                    color: var(--color-gray);
                    margin-bottom: rem(32);
                }

                &-description {
                    max-width: rem(792);
                    margin-bottom: rem(52);

                    p {
                        font-size: rem(20);
                        line-height: rem(30);
                        margin-bottom: rem(12);
                    }
                }
            }

            .film-awards {
                &__label {
                    font-size: rem(24);
                    line-height: rem(28);
                    font-family: 'SenBold', sans-serif;
                    font-weight: 700;
                    text-transform: uppercase;
                    margin-bottom: rem(32);
                }

                &__list {
                    display: grid;
                    grid-template-columns: repeat(2, max-content);
                    row-gap: rem(24);
                    column-gap: rem(46);
                    @include desktop {
                        grid-template-columns: repeat(2, auto);
                        column-gap: rem(66);
                    }
                }

                &__item {
                    width: 100%;
                    display: grid;
                    grid-template-columns: max-content auto;
                    gap: rem(32);

                    &-location {
                        display: block;
                        font-size: rem(20);
                        line-height: rem(24);
                        letter-spacing: rem(3);
                        text-transform: uppercase;
                        font-family: 'SenRegular', sans-serif;
                        font-weight: 400;
                        color: var(--color-gray);
                    }

                    &-description {
                        display: block;
                        font-size: rem(20);
                        line-height: rem(30)
                    }
                }
            }

            .first-film {
                .film-awards__item {
                    &:nth-child(1) {
                        order: 1; // Испания остается первой
                    }

                    &:nth-child(2) {
                        order: 3; // Португалия перемещается на третью позицию
                    }

                    &:nth-child(3) {
                        order: 5; // Италия перемещается на пятую позицию  
                    }

                    &:nth-child(4) {
                        order: 2; // Венесуэла перемещается на вторую позицию
                    }

                    &:nth-child(5) {
                        order: 4; // Индия перемещается на четвертую позицию
                    }

                    &:nth-child(6) {
                        order: 6; // Иран остается шестым
                    }
                }
            }

            .second-film {
                display: grid;
                grid-template-columns: repeat(1, max-content);
                @include desktop {
                    grid-template-columns: repeat(1, auto);
                }
            }
        }

    }

    //International
    &__international {
        margin-top: rem(200);
        align-items: flex-start;
        justify-content: flex-start;
        min-height: calc(100vh - rem(196));
        margin-bottom: rem(40);

        &-content {
            min-height: calc(100vh - rem(296));
            display: grid;
            grid-template-columns: 1fr 45%;
            gap: rem(70);
            align-items: center;
        }

        &-image {
            align-self: baseline;
            position: relative;
            min-height: rem(560);

            .polaroid {
                img {
                    max-width: rem(560);
                }

                &:nth-child(1) {
                    top: rem(30);
                    transform: rotate(-4deg);
                }

                &:nth-child(2) {
                    transform: rotate(8deg);
                    right: 0;
                    top: rem(150);
                }
            }
        }

        &-text {
            max-width: rem(660);
            p {
                font-size: rem(20);
                line-height: rem(30);
                margin-bottom: rem(48);
            }
        }
    }

    .gloss {
        box-shadow: rem(4) rem(8) rem(5) rgba(34, 60, 80, 0.2);
    }
}