@use '../helpers' as *;

.film-page {
    &--wrapper {
        padding: rem(48) rem(20) rem(15) rem(20);
        margin-inline: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include desktop-above {
            --container-width: #{rem(2088)};
            --container-padding-x: #{rem(20)};
        }

        @include desktop {
            --container-width: #{rem(1920)};
            --container-padding-x: #{rem(20)};
        }

        @include tablet-s {
            padding: rem(20);
        }
    }


    &__info {
        margin-top: rem(64);
        margin-bottom: rem(164);
        &-header {
            width: 100%;
            &-title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                @include mobile-md {
                    align-items: flex-start;
                    flex-direction: column;
                    gap: rem(24);
                    margin-bottom: rem(24);
                }
            }
        }
        &-h1 {
            font-family: 'SenBold', sans-serif;
            font-size: rem(80);
            line-height: rem(88);
            font-weight: 700;
            @include tablet{
                font-size: rem(64);
                line-height: rem(72);
            }
            @include tablet-s{
                font-size: rem(48);
                line-height: rem(50);
            }
        }
        &-links {
            display: flex;
            gap: rem(24);
            @include mobile {
                gap: rem(10);
            }
        }
        &-link-items{
            display: flex;
            align-items: center;
            &-item {
                min-height: rem(50);
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        &-inner {
            display: flex;
            gap: rem(20);
            justify-content: space-between;
            @include laptop-s{
                flex-direction: column;
                gap: rem(48);
            }
        }
        &-content {
            max-width: rem(772);
        }
        &-video {
            flex-shrink: 1;
        }
        &-genres {
            margin-top: rem(64);
            display: flex;
            gap: rem(24);
            margin-bottom: rem(24);

            @include mobile-md {
                margin-top: rem(24);
            }

            &-item {
                display: flex;
                align-items: center;
                justify-content: center;
                min-height: rem(40);
                padding-inline: rem(12);
                border: 1px solid var(--color-primary);
                border-radius: rem(100);
            }
        }
        &-description {
            margin-bottom: rem(40);
        }
        &-additional {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: rem(12);
            @include mobile-md {
                grid-template-columns: repeat(1, 1fr);
            }
            &-item {
                display: flex;
                flex-direction: column;
                &-title {
                    @include item-label();
                    margin-bottom: rem(12);
                }
            }
        }
    }

    &__awards {
        margin-bottom: rem(164);
        &-content {
            margin-top: rem(64);
            max-width: rem(1400);
        }
        .first-film, .second-film {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: rem(24);
            @include mobile {
                grid-template-columns: repeat(1, 1fr);
            }
            
            .film-awards {
                &__label {
                    font-size: rem(24);
                    line-height: rem(28);
                    font-family: 'SenBold', sans-serif;
                    font-weight: 700;
                    text-transform: uppercase;
                    margin-bottom: rem(32);

                    @include mobile {
                        margin-top: rem(32);
                    }
                }

                &__list {
                    display: grid;
                    grid-template-columns: repeat(2, max-content);
                    row-gap: rem(24);
                    column-gap: rem(46);

                    @include desktop {
                        grid-template-columns: repeat(1, max-content);
                    }

                    @include mobile {
                        grid-template-columns: repeat(1, auto);
                    }
                }

                &__item {
                    width: 100%;
                    display: grid;
                    grid-template-columns: max-content auto;
                    gap: rem(32);
                    align-items: center;

                    &-location {
                        display: block;
                        @include item-label();
                        @include mobile {
                            font-size: rem(16);
                            line-height: rem(18);
                        }
                        @include mobile-xs {
                            letter-spacing: rem(2);
                        }
                    }

                    &-description {
                        display: block;
                        @include mobile {
                            font-size: rem(16);
                            line-height: rem(18);
                        }
                    }
                }
            }
        }
        .first-film {
            .film-awards__item {
                &:nth-child(1) {
                    order: 1; // Испания остается первой
                }

                &:nth-child(2) {
                    order: 3; // Португалия перемещается на третью позицию
                }

                &:nth-child(3) {
                    order: 5; // Италия перемещается на пятую позицию  
                }

                &:nth-child(4) {
                    order: 2; // Венесуэла перемещается на вторую позицию
                }

                &:nth-child(5) {
                    order: 4; // Индия перемещается на четвертую позицию
                }

                &:nth-child(6) {
                    order: 6; // Иран остается шестым
                }
            }
        }
    }

    &__cc {
        margin-bottom: rem(164);
        &-content {
            margin-top: rem(64);
            display: flex;
            flex-direction: column;
            gap: rem(24);
         
        }
    }

    .film-cc {
        &__crew, &__cast {
            &-title {
                @include list-title();
                margin-bottom: rem(32);
                @include mobile {
                    margin-bottom: rem(24);
                    font-size: rem(24);
                }
            }
            &-list {
                max-width: rem(660);
                display: flex;
                justify-content: space-between;
                @include mobile{
                    max-width: auto;
                    flex-direction: column;
                    gap: rem(24);
                }
                &-item {
                    max-width: rem(390);
                    display: flex;
                    flex-direction: column;
                    gap: rem(12);
                    &-name {
                        @include item-label();
                    }
                }
            }
        }
        &__cast {
            align-self: flex-end;
            @include mobile{
                align-self: flex-start;
            }
            &-list {
                display: flex;
                gap: rem(24);
                flex-wrap: wrap;
                width: 100%;
                max-width: rem(756);
                justify-content: space-between;
                &-item {
                    width: 100%;
                    max-width: rem(300);
                }
            }
            &-btn {
                margin-top: rem(24);
            }
        }

        &__gallery { 
            &-list {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                height: 65vh;
                gap: rem(24);
                @include tablet-s{
                    align-items: center;
                }
                &-item {
                    position: relative;
                    &:first-of-type {
                        z-index: 3;
                        margin-top: rem(100);
                        @include tablet-s{
                            margin-top: 0;
                        }
                        .polaroid {
                            min-width: rem(725);
                            transform: rotate(-10deg);
                            @include desktop-md{
                                min-width: rem(614);
                            }
                            @include tablet{
                                margin-top: rem(0);
                                min-width: rem(450);
                            }
                            @include tablet-s{
                                margin: auto;
                                min-width: rem(380);
                            }
                            @include mobile-s{
                                min-width: rem(300);
                            }
                        }
                    }
                    &:nth-of-type(2) {
                        z-index: 1;
                        margin-top: rem(-180);
                        @include tablet-s{
                            margin-top: rem(-180);
                        }
                        @include mobile-md{
                            margin-left: rem(-120);
                        }
                        .polaroid {
                            min-width: rem(514);
                            transform: rotate(-3deg);
                            @include desktop-md{
                                margin-top: rem(160);
                                min-width: rem(414);
                            }
                            @include tablet-s{
                                margin: auto;
                                min-width: rem(250);
                            }
                        }
                    }
                    &:last-of-type {
                        z-index: 2;
                        .polaroid {
                            min-width: rem(510);
                            transform: rotate(10deg);
                            @include desktop-md{
                                min-width: rem(414);
                                margin-top: rem(120);
                                left: rem(-100);
                            }
                            @include tablet-s{
                                min-width: rem(250);
                                margin-left: rem(-100);
                            }
                        }
                    }
                }
            }
        }
    }


}   