@use '../helpers' as *;

.gallery-page {
    &--wrapper {
        padding: rem(48) rem(20) rem(15) rem(20);
        margin-inline: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow-x: hidden;

        @include desktop-above {
            --container-width: #{rem(2088)};
            --container-padding-x: #{rem(20)};
        }

        @include desktop {
            --container-width: #{rem(1920)};
            --container-padding-x: #{rem(20)};
        }

        @include tablet-s {
            padding: rem(20);
        }

    }

    &__section {
        display: flex;
        flex-direction: column;
        gap: rem(48);
        min-height: calc(100vh - rem(30) - rem(68) - rem(154));
        @include desktop {
            min-height: calc(100vh - rem(30) - rem(68) - rem(154));
        }
    }

    &__container {
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
        gap: rem(48);
        justify-content: space-around;
    }

    &__item {
        position: relative;
        display: flex;
        align-items: baseline;
        justify-content: center;
        //min-height: rem(350);
        &-inner {
            position: relative;
            margin-top: rem(100);
            min-height: rem(550);
           .polaroid {
              @include square(rem(350));
              position: absolute;
              padding: rem(15);
              &:first-child{
                transform: rotate(-8deg);
                left: rem(-210);
                top: rem(60);
                z-index: 1;
              }
              &:nth-child(2) {
                transform: rotate(-1deg);
                top: rem(-60);
                left: rem(38);
                z-index: 3;
              }
              &:nth-child(3) {
                transform: rotate(16deg);
                left: rem(260);
                z-index: 2;
              }
              &:nth-child(4) {
                transform: rotate(-12deg);
                left: rem(-100);
                bottom: rem(80);
                z-index: 4;
              }
              &:nth-child(5) {
                transform: rotate(-7deg);
                left: rem(-20);
                z-index: 5;
              }
              &:nth-child(6) {
                transform: rotate(12deg);
                bottom: rem(80);
                left: rem(150);
                z-index: 6;
              }
           }
    
           .gloss{ 
                box-shadow: none;
            }
        }
        &-info{
            @include flex-center;
            display: flex;
            flex-direction: column;
            gap: rem(27);
            &-title{
                h2 {
                    font-size: rem(24);
                    line-height: rem(27);
                    font-family: 'SenBold', sans-serif;
                    text-transform: uppercase;
                    font-weight: 700;
                }
            }
        }
    }


}