@use '../helpers' as *;

.wrapper.homepage {
    padding: rem(56) rem(20) rem(15) rem(20);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;

    @include desktop {
        overflow: hidden;
    }

    @include mobile {
        padding: rem(20);
        min-height: auto; // Убираем фиксированную высоту на мобильных
        height: auto; // Позволяем контенту определять высоту
    }
}

.hero {

    @include mobile {
        margin-top: rem(32);
    }

    &__container {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;

        @include mobile {
            grid-template-columns: 1fr;
        }
    }

    &__content {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        gap: rem(48);
        align-items: center;
        
        @include mobile {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto auto;
            gap: rem(48);
            width: 100%;
            max-width: 100vw;
            overflow: visible; // Изменяем с hidden на visible
        }
    }

    &__text-content {
        display: grid;
        grid-template-rows: auto auto auto;
        gap: rem(48);
        justify-self: flex-start;
        align-self: flex-start;
        max-width: rem(632);
        
        @include mobile {
            display: contents;
        }
    }

    &__title {
        @include mobile {
            order: 1;
            max-width: 100%;
            width: 100%;
            justify-self: flex-start;
            align-self: center;
            text-align: left;
        }

        h1 {
            @include fluid-text(65, 28);
            @include fluid-line-height(65, 28);

            font-family: 'SenBold', sans-serif;
            font-weight: 700;
            margin: 0;

            @include mobile {
                font-size: rem(48);
                line-height: rem(48);
                max-width: rem(483);
            }
        }
}

    &__buttons {
        display: flex;
        gap: rem(24);
        justify-content: flex-start;

        @include mobile {
            order: 3;
            max-width: 100%;
            width: 100%;
            justify-self: flex-start;
            align-self: center;
            margin-top: rem(58);

        }
    }

    &__social {
        display: grid;
        grid-template-columns: repeat(5, auto);
        gap: rem(12);
        justify-content: flex-start;

        @include mobile {
            order: 4;
            max-width: 100%;
            width: 100%;
            justify-self: flex-start;
            align-self: center;
            min-height: rem(56)
        }
    }
    
    &__social-item {
        display: grid;
        place-items: center;
    }
    
    &__social-link {
        display: grid;
    }
}