@use '../helpers' as *;

.burger-button {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: rem(52);
  height: rem(52);
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 1000;
  position: relative;

  &__line {
    width: rem(34);
    height: rem(2);
    border-radius: rem(2);
    background: var(--color-primary);
    margin: 5px 0;
    transition: all 0.3s ease;
    transform-origin: center;
    &:first-of-type {
      width: rem(28);
    }
    &:last-of-type {
      width: rem(22);
    }
  }

  // Анимация при открытии
  &.is-active {
    .burger-button__line {
      width: rem(34);
      &:first-of-type {
        width: rem(34);
        transform: rotate(45deg) translate(rem(8), rem(8));
      }

      &:nth-child(2) {
        opacity: 0;
        transform: scale(0);
      }

      &:last-of-type {
        width: rem(34);
        transform: rotate(-45deg) translate(rem(8), rem(-8));
      }
    }
  }

  &:hover {
    .burger-button__line {
      background: var(--color-primary);
    }
  }
}

@include mobile {
  .burger-button {
    display: flex;
  }
}
