@use '../helpers' as *;

.footer { 
    
    &__content {

        @include fluid-text(24, 16);
        @include fluid-line-height(30, 16);

        display: flex;
        justify-content: space-between;
        align-items: center;

        @include mobile {
            margin-top: rem(30);
        }
    }
    &__info {
        display: flex;
        gap: rem(40);
        &-link {
            text-decoration: none;
            position: relative;
            transition: var(--transition-duration);
            
            &::after {
                content: '';
                position: absolute;
                bottom: -2px;
                left: 0;
                width: 0;
                height: 2px;
                background-color: currentColor;
                transition: var(--transition-duration);
            }
            
            &:hover {
                &::after {
                    width: 100%;
                }
            }
        }
    }
}