@use '../helpers' as *;

.footer { 

    flex-shrink: 0;
    justify-self: flex-end;
    
    // Прижимаем footer к низу на всех мобильных устройствах (mobile и ниже)
    @include mobile {
        margin-top: auto;
    }
    
    @include mobile-md {
        margin-top: auto;
    }
    
    @include mobile-s {
        margin-top: auto;
        display: flex;
        justify-content: center;
    }
    
    @include mobile-xs {
        margin-top: auto;
    }

    &__get_in_touch {
        font-size: rem(24);
        text-transform: uppercase;
        text-align: center;
        margin-bottom: rem(24);
    }
    
    &__content {
        font-size: rem(14);        
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include mobile {
            margin-top: rem(30);
        }

        @include mobile-s {
            display: grid;
            grid-template-rows: auto auto;
            gap: rem(12);
            text-align: center;
            //padding: rem(20) 0;
            //margin-top: rem(20);
            margin-top: rem(20);
        }
    }
    &__copyright {
        @include mobile-s {
            order: 2;
        }
    }
    
    &__info {
        display: flex;
        gap: rem(40);

        @include mobile-s {
            order: 1;
            gap: rem(20);
            justify-content: center;
        }

        &-link {
            text-decoration: none;
            position: relative;
            transition: var(--transition-duration);
            
            &::after {
                content: '';
                position: absolute;
                bottom: -2px;
                left: 0;
                width: 0;
                height: 2px;
                background-color: currentColor;
                transition: var(--transition-duration);
            }
            
            &:hover {
                &::after {
                    width: 100%;
                }
            }
        }
    }

    &__social {
        display: flex;
        gap: rem(24);
        padding-left: rem(90);
    }
}