@use '../helpers' as *;

.header {
    position: relative;
    z-index: 100;

    &__container {
        margin-inline: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: rem(70);

        @include mobile {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            transition: var(--transition-duration);
        }
    }

    &__logo h1 {
        @include fluid-text(82, 43);

        font-family: 'GravitasOne', sans-serif;
        line-height: rem(100);
        font-weight: 400;
        letter-spacing: 0;

        @include mobile {
            font-size: rem(43);
            line-height: rem(52);
            transition: var(--transition-duration);
            text-wrap: nowrap;
        }

        @include mobile-md {
            @include fluid-text(43, 24);
        }

        @include mobile-xs {
            @include fluid-text(24, 16);
        }
    }

    &__nav_wrapper {
        width: 100%;
        margin-top: rem(10);
        position: relative;
    }

    @include mobile {
        &__nav {
            background-color: var(--color-secondary);
            background-image: url('../images/bg_mobile.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: fixed;
            top: 0;
            right: -100%;
            // width: rem(300);
            width: 100vw;
            height: 100vh;
            box-shadow: rem(-5) 0 rem(15) rgba(0, 0, 0, 0.1);
            transition: right 0.5s ease;
            z-index: 999;
            overflow-y: auto;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

            &.is-open {
                right: 0;
            }
        }
    }
}

.nav {
    display: flex;
    justify-content: center;

    &__mobile-logo {
        display: none;
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        width: var(--nav-line-width, 200px); // Используем CSS-переменную
        height: rem(2);
        background-color: var(--color-primary);
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
    }

    &::before {
        left: 0;
    }

    &::after {
        right: 0;
    }

    &__list {
        display: flex;
        align-items: center;
        gap: rem(32);
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__item {
        position: relative;
    }

    &__link {
        @include fluid-text(24, 16);

        display: block;
        padding: rem(10) 0;
        color: var(--color-primary);
        text-decoration: none;
        font-weight: 400;
        font-family: 'SenRegular', sans-serif;
        line-height: rem(24);
        letter-spacing: rem(0.5);
        transition: var(--transition-duration);
        position: relative;
        text-transform: uppercase;

        &:hover {
            color: var(--color-primary);
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: rem(2);
            background: var(--color-primary);
            transition: var(--transition-duration);
        }

        &:hover::after {
            width: 100%;
        }
    }
}

// Планшеты и мобильные устройства
@include mobile {
    .nav {
        &::before,
        &::after {
            content: none;
        }

        &__mobile-logo {
            display: block;
            text-align: center;
            padding: rem(30) rem(20) rem(20);
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            align-self: flex-start;
            
            h1 {
                font-family: 'GravitasOne', sans-serif;
                font-size: rem(43);
                line-height: rem(52);
                transition: var(--transition-duration);
                color: var(--color-primary);
                margin: 0;

                @include mobile-md {
                    @include fluid-text(43, 24);
                }
        
                @include mobile-xs {
                    @include fluid-text(24, 16);
                }
            }
        }

        &__list {
            font-size: rem(32);
            line-height: rem(32);
            flex-direction: column;
            gap: 0;
            padding: rem(20) rem(20) rem(20);
            align-items: center;
            justify-content: center;
            flex-grow: 1;
        }

        &__item {
            //border-bottom: 1px solid #eee;

            // &:last-child {
            //     border-bottom: none;
            // }
        }

        &__link {
            padding: rem(32) 0;
            font-size: rem(32);
            border-bottom: none;

            &::after {
                display: none;
            }
        }
    }
}