@use '../helpers' as *;

.social-icon{
    transition: transform 0.3s ease, opacity 0.3s ease;
    
    &:hover {
        transform: scale(1.2);
        opacity: 0.8;
    }
}

.hero__social-icon {
    width: rem(49);
    height: rem(49);

}

.hero__social-icon-m{
    width: rem(80);
    height: rem(80);

    @include mobile-s {
        width: rem(49);
        height: rem(49);
    }

    @include mobile-xs {
        width: rem(32);
        height: rem(32);
    }
}