@use '../helpers' as *;

.homepage{

  
  div#gallery {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: visible;
  }
  
  #gallery figure {
    float: left;
    position: relative;
    background-color: #f3f3f3;
    text-align: center;
    padding: rem(24);
    margin: rem(24);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);

    img {
      width: 100%;
      height: auto;
      display: block;
      max-width: none;
    }
  }
  
  figure.pic1 {
    transform : rotate(-8deg);
    z-index: 1;
    top: rem(80);
    left: rem(210);
    width: rem(518);
  }
  
  figure.pic2 {
    transform : rotate(6deg);
    z-index: 2;
    right: rem(-110);
    width: rem(560);
  }
  
  figure.pic3 {
    transform : rotate(-25deg);
    z-index: 1;
    display: none;
  } 
}
