@use 'sass:math';
@use 'functions' as *;

/* fluid-text - функция для перевода пикселей в rem */
/* $max - максимальный размер текста
$min - минимальный размер текста */
@mixin fluid-text($max: 48, $min: 16) {
  font-size: fluid($max, $min);
}

@mixin fluid-line-height($max: 48, $min: 16) {
  line-height: fluid($max, $min);
}

@mixin hide {
  opacity: 0;
  visibility: hidden;
}

@mixin show {
  opacity: 1;
  visibility: visible;
}

@mixin flex-center($isInline: false) {
  @if $isInline {
    display: inline-flex;
  }

  @else {
    display: flex;
  }

  justify-content: center;
  align-items: center;
}

@mixin item-label {
  font-family: 'SenRegular', sans-serif;
  font-weight: 400;
  color: var(--color-gray);
  font-size: rem(20);
  line-height: rem(24);
  letter-spacing: rem(1);
  text-transform: uppercase;
}

/* Абсолютное центрирование */
@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

/* Квадрат */
@mixin square($size) {
  width: $size;
  height: $size;
}

/* Скрыть элемент */
@mixin visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

/* Прозрачность */
@mixin opacity($opacity: .5) {
  $freaking-ie: $opacity * 50;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$freaking-ie})";
  filter: alpha(opacity=$freaking-ie);
  -webkit-opacity: $opacity;
  -khtml-opacity: $opacity;
  -moz-opacity: $opacity;
  opacity: $opacity;
}

/* Шрифт */
@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
    src: url('#{$file-path}.ttf') format('truetype');
  }
}
